.info-roupa {
    display: none;
}


.card-roupa:hover {
    width: 90%;
    margin: 0 5% 25px;  
    display: block;
    z-index: 9;
}

.card-roupa:hover .info-roupa {
    width: 90%;
    margin: 0 5% 25px;  
    display: block;
    position: relative;
    z-index: 9;
}

