.info-roupa {
    display: none;
}


.card-roupa:hover {
    width: 20%;
    margin: 0 2.5% 0;  
    display: block;
    z-index: 9;
    position: absolute;
}

.card-roupa:hover .info-roupa {
    width: 90%;
    margin: 0 5% 25px;  
    display: block;
    position: relative;
    z-index: 9;
}

