@media (max-width: 600px){
    
    #titulo{
        font-size: xxx-large;
        line-height: 40px;
    }
    
    #logo{
        width: 100%;
    }
    
    #cabecalho{
        display: grid;
        grid-template-columns: 20% 1fr;
        justify-items: flex-start;
        align-items: flex-start;
    }

    #menu{
        margin-left: -10%;
    }
    
    #exibicao{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 10%;
        padding-top: 5%;
    }
    #exibicao p{
        line-height: 50%;
    }
    
    .celula{
        margin-bottom: 5%;
        height: 40vh;
    }

    .card-roupa{
        width: 80%;
        margin: 0 10% 25px;  
        display: block;
        position: relative;
        height: 100%; /*Caso queira deixar todos com a mesma altura*/
    }
    .card-roupa h4{
        text-align: center;
        font-size: medium;
    }

    .img-roupa{
        width: 96%;
        margin: 5px 2% 10px;
    }

    .info-roupa{
        padding: 0 5% 0;
    }
    .info-roupa p{
        font-size: 0.95em;
    }
    
    /* .card-roupa:hover {
        width: 45%;
        margin: 0 2.5% 0;  
        display: block;
        z-index: 9;
        position: absolute;
    } */

    /* .card-roupa:hover .info-roupa {
        width: 90%;
        margin: 0 5% 25px;  
        display: block;
        position: relative;
    } */

    /* .contraido .info-roupa{
        display: none;
    }
    .expandido .info-roupa{
        display: block;
    } */
   
    #rodape{
        padding: 1% 2% 4vh;
        width: 100%;
    }
    
    .logo-contato{
        width: 8%; height: 8%;
        vertical-align: middle;
        margin-right: 2vw;
    }

    #fileira-contatos{
        display: flex;
        flex-direction: column;
        padding-bottom: 20%;
    }

    .con-contato{
        display: inline-flex;
    }
}


@media (min-width: 601px) and (max-width:950px){
    #exibicao{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        width: 100%;
        height: auto;
        padding-bottom: 10%;
        padding-top: 5%;
    }
    
    #menu{
        font-size: 1.5em;
    }
    
    footer{
        display: flex;
    }
}