@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}

body{
}
main{
    background-color: #d8e4f0;
    min-height: 100%;
    width: 100%;
}


#cabecalho{
    background-image: linear-gradient(#d4a6ff, #8fffb2);
    width: 100%;
}

#logo{
    float: left;
    margin: 1%;
}

#titulo{
    font-family: 'Quicksand', sans-serif;
    font-size: 4.5em;
    line-height: 150px;
}

#menu{
    margin: 0 1% 0;
}
#pesquisa-menu{
    margin: 0 4% 0;
}
#btn-pesquisar-menu{
    margin-left:1%;
}


footer{
    padding: 1% 2% 1%;
    height: 5%;
    background-color: #d4a6ff;
}

.logo-contato{
    width: 25px;
    float: left;
    margin-right: 10px;
}

#titulo-contato{
    font-size: 2em;
    margin:0 0 1%;
}