    /*Geral*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}

#cabecalho{
    background-image: linear-gradient(#d4a6ff, #8fffb2);
}

#logo{
    float: left;
    margin: 1%;
}

#titulo{
    font-family: 'Quicksand', sans-serif;
}

#filtro-inicio{
    font-weight: bolder;
    color: black;
}

.nav-item{
    color: darkslategray;
    font-weight: normal;
}

main{
    background-color: #d8e4f0;
}

.card-roupa{
    border: 1px solid black;
    background-color: #fca39d;
}

#rodape{
    background-color: #d4a6ff;
    align-self: end;
}


    /*Telas grandes*/
@media (min-width: 951px){
#conteudo-header{
    padding-top: 2vw;
}

main{
    min-height: 60vw;
}

#cabecalho{
    width: 100%;
    height: 10vw;
}

#menu{
    margin: 0 1% 0;
}
#pesquisa-menu{
    margin: 0 4% 0;
}
#btn-pesquisar-menu{
    margin-left:1%;
}


/*Catálogo*/
#exibicao{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-auto-rows: 48vh;

    width: 100%;
    height: fit-content;
}

.celula{
    width: 15vw;
    height: 45vh;
}


/*Roupas*/
.card-roupa{
    padding: 1%;
}
.contraido{
    margin: 0 10% 10%;
    width: 80%;
    height: 70%;
}
.expandido{
    width: 100%;
    height: 100%;
}

.contraido .info-roupa{
    display: none;
}
.expandido .info-roupa{
    display: block;
}


.img-roupa{
    width: 96%;
    margin: 5px 2% 10px;
}

.card-roupa h4{
    text-align: center;
}


/*Rodapé*/
#rodape{
    padding: 1% 2% 1%;
    width: 100%;
}

.con-contato{
    width: 30vw;
    display: inline-flex;
}

.con-contato div{
    vertical-align: middle;
}

.logo-contato{
    width: 2vw; height: 2vw;
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}

#titulo-contato{
    font-size: 2em;
}

#fileira-contatos{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

}


/*cores*/
.cor-azul{
    color: blue;
}
.cor-preto{
    color: black;
}
.cor-vermelho{
    color: red;
}
.cor-verde{
    color: greenyellow;
}
.cor-laranja{
    color: orange;
}
.cor-rosa{
    color: fuchsia;
}
.cor-roxo{
    color: purple;
}
.cor-amarelo{
    color: yellow;
}
.cor-branco{
    color: white;
}