    /*Geral*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}

#cabecalho{
    background-image: linear-gradient(#d4a6ff, #8fffb2);
}

#logo{
    float: left;
    margin: 1%;
}

#titulo{
    font-family: 'Quicksand', sans-serif;
}

#filtro-inicio{
    font-weight: bolder;
    color: black;
}

.nav-item{
    color: darkslategray;
    font-weight: normal;
}

main{
    background-color: #d8e4f0;
}

    /*Telas grandes*/
@media (min-width: 900px){
main{
    padding-top: 2%;
    min-height: 600px;
}

body{
    min-height: 100%;
}

#cabecalho{
    width: 100%;
}

#titulo{
    font-family: 'Quicksand', sans-serif;
}

#menu{
    margin: 0 1% 0;
}
#pesquisa-menu{
    margin: 0 4% 0;
}
#btn-pesquisar-menu{
    margin-left:1%;
}

/*Catálogo*/
#exibicao{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.celula{
    width: 30%;
}



/*Roupas*/
.card-roupa{
    border: 1px solid black;
    background-color: #fca39d;
    padding: 1%;
    width: 60%;
    margin: 0 20% 0;  
    position: relative;
}

.img-roupa{
    width: 96%;
    margin: 5px 2% 10px;
}

.contraido{}

.expandido{}


/*Rodapé*/
#rodape{
    padding: 1% 2% 1%;
    background-color: #d4a6ff;
    width: 100%;
    align-self: end;
}

.logo-contato{
    width: 25px;
    float: left;
    margin-right: 10px;
}

#titulo-contato{
    font-size: 2em;
}

#fileira-contatos{
    margin-top: 1%;
}

}


/*cores*/
.cor-azul{
    color: blue;
}
.cor-preto{
    color: black;
}
.cor-vermelho{
    color: red;
}
.cor-verde{
    color: greenyellow;
}
.cor-laranja{
    color: orange;
}
.cor-rosa{
    color: fuchsia;
}
.cor-roxo{
    color: purple;
}
.cor-amarelo{
    color: yellow;
}
.cor-branco{
    color: white;
}